@import "../../Sass/variables.scss";

.imgPerfil {
  margin-top: 4%;
  margin-left: 70%;
  height: 80%;
  width: 28%;
  padding: 0;
  right: calc(100% - 959px);
  top: 0;
  left: 0;
  object-fit: cover;
  @media (max-width: 768px) {
    right: calc(100% - 800px);
  }
}

.presentation {
  position: absolute;
  margin-top: 25%;
  left: 15%;
  animation-name: fadeInLeft;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.name {
  margin-bottom: 0;
  font-family: $first-font;
  font-size: 58px;
}
.profession {
  margin: 0;
  font-family: $second-font;
  font-size: 28px;
  font-weight: 400;
  margin-left: 3vw;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
