@import "../../Sass/variables.scss";

.imgPerfil {
  margin-top: 10%;
  margin-left: 68%;
}

.presentation {
  position: relative;
  margin-top: -260px;
  left: 15%;
}
.name {
  margin-bottom: 0;
  font-family: $first-font;
  font-size: 58px;
}
.profession {
  margin-top: 0;
  margin-left: 6%;
  font-family: $second-font;
  font-size: 28px;
  font-weight: 400;
}
